branchProtectionRules:
  - pattern: 4.x
    isAdminEnforced: true
    requiredApprovingReviewCount: 1
    requiresCodeOwnerReviews: true
    requiresStrictStatusChecks: false
  - pattern: master
    isAdminEnforced: true
    requiredApprovingReviewCount: 1
    requiresCodeOwnerReviews: true
    requiresStrictStatusChecks: false
    requiredStatusCheckContexts:
      - "ci/kokoro: Samples test"
      - "ci/kokoro: System test"
      - docs
      - lint
      - test (10)
      - test (12)
      - test (14)
      - test (15)
      - cla/google
      - windows
      - OwlBot Post Processor