on:
  push:
    branches:
      - main
  pull_request:
name: conformance
jobs:
  conformance-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: node --version
      - run: npm install
      - run: npm run conformance-test
